<div class="card">
  <div data-controller="select" class="card-inner">
    <%= bootstrap_form_with(model: diagnostic, url: diagnostics_path) do |f| %>
      <% if diagnostic.errors.any? %>
        <div data-controller="flash" data-type="error" data-message="<%= error.full_message %>" data-timer="5000"></div>
      <% end %>

      <%= f.collection_select :animal_id, @animals, :id, :name, label: 'Animal', class: 'form-control-lg' %>
      <%= f.collection_select :symptoms, @symptoms, :name, :id, multiple: true, label: 'Symptômes', class: 'form-control-lg' %>

      <%= f.submit "Soumettre", class: 'mt-3 btn btn-primary' %>
    <% end %>
  </div>
</div>
