<%= content_for :title, 'Tous les diagnostics' %>

<%= render :layout => 'components/header', locals: {title: 'Tous les diagnostics'} do %>
  <li class="nk-block-tools-opt">
    <%= link_to new_diagnostic_path, class: 'btn btn-primary' do %>
      <%= icon_tag 'plus' %>
      <span>Nouveau</span>
    <% end %>
  </li>
<% end %>

<% if @diagnostics.blank? %>
  <%= render :partial => 'components/empty_state' %>
<% else %>
  <% @diagnostics.each do |diagnostic| %>
    <%= render diagnostic %>
    <p>
      <%= link_to "Show this diagnostic", diagnostic %>
    </p>
  <% end %>
<% end %>
