<%= content_for :title, 'Tous les diagnostics' %>

<%= render layout: 'components/header', locals: {title: 'Tous les diagnostics'} do %>
  <%= header_link_tag new_diagnostic_path, 'Nouveau', 'plus' %>
<% end %>

<% if @diagnostics.blank? %>
  <%= render partial: 'components/empty_state' %>
<% else %>
  <div class="card card-preview">
    <%= render partial: 'diagnostics/diagnostics', locals: {diagnostics: @diagnostics} %>
  </div>
<% end %>
