<%= content_for :title, 'Dashboard' %>

<div class="alert alert-pro alert-success alert-dismissible">
  <div class="alert-text"><h6>Bienvenue sur Ecovet</h6>
    <p>Plateforme Middleware pour la Prédiction de Maladies Animales Basée sur le Machine Learning</p>
  </div>
  <button class="close" data-bs-dismiss="alert"></button>
</div>

<div class="nk-block">
  <div class="row g-gs">
    <div class="col-sm-4">
      <%= render partial: 'main/stat_card', locals: {title: 'Vos fermes', count: @farms_count}  %>
    </div>
    <div class="col-sm-4">
      <%= render partial: 'main/stat_card', locals: {title: 'Tous les animaux', count: @animals_count}  %>
    </div>
    <div class="col-sm-4">
      <%= render partial: 'main/stat_card', locals: {title: 'Vos diagnostics', count: @diagnostics_count}  %>
    </div>
  </div>
</div>

<% if @diagnostics.blank? %>
  <%= render :partial => 'components/empty_state' %>
<% else %>
  <div class="nk-block-head mt-4">
    <h5 class="title">Diagnostiques récents</h5>
  </div>
  <div class="card card-preview">
    <table class="table table-tranx">
      <thead>
      <tr class="tb-tnx-head">
        <th>Animal</th>
        <th>Race</th>
        <th>Symptômes</th>
        <th>Prédictions</th>
      </tr>
      </thead>
      <tbody>
      <% @diagnostics.each do |diagnostic| %>
        <tr class="tb-tnx-item">
          <td><%= link_to "Animal ##{diagnostic.animal.id}", diagnostic.animal %></td>
          <td><span class="badge badge-dim badge-sm bg-primary"><%= diagnostic.animal.race %></span></td>
          <td><%= diagnostic.symptoms %></td>
          <td><%= diagnostic.predictions %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
<% end %>