<%= content_for :title, 'Toutes les fermes' %>

<%= render :layout => 'components/header', locals: {title: 'Toutes les fermes'} do %>
  <%= header_link_tag new_farm_path, 'Nouveau', 'plus'  %>
<% end %>

<% if @farms.blank? %>
  <%= render :partial => 'components/empty_state' %>
<% else %>
  <div class="card card-preview">
    <table class="table table-tranx">
      <thead>
      <tr class="tb-tnx-head">
        <th>#</th>
        <th>Nom</th>
        <th>Adresse</th>
        <th>Superficie</th>
        <th class="tb-tnx-action">
          <span>&nbsp;</span>
        </th>
      </tr>
      </thead>
      <tbody>
        <% @farms.each do |farm| %>
          <tr class="tb-tnx-item">
            <td><%= link_to farm.id, farm %></td>
            <td><%= farm.name %></td>
            <td><%= farm.address %></td>
            <td><%= farm.area %> KM<sup>2</sup></td>
            <td class="tb-tnx-action">
              <%= link_to icon_tag("eye"), farm, class: 'text-soft btn btn-icon btn-trigger' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
