<div id="<%= dom_id animal %>">
  <div class="card">
    <div class="card-content">
      <div class="card-inner">
        <div class="nk-block">
          <div class="nk-block-head">
            <h5 class="title">Information</h5>
          </div>
          <div class="profile-ud-list">
            <div class="profile-ud-item">
              <div class="profile-ud wider">
                <span class="profile-ud-label">Photo</span>
                <span class="profile-ud-value">
                  <%= image_tag animal.picture.variant(:thumb), width: 100, height: 100 %>
                </span>
              </div>
            </div>
            <div class="profile-ud-item">
              <div class="profile-ud wider">
                <span class="profile-ud-label">Nom</span>
                <span class="profile-ud-value"><%= animal.name %></span>
              </div>
            </div>
            <div class="profile-ud-item">
              <div class="profile-ud wider">
                <span class="profile-ud-label">Ferme</span>
                <span class="profile-ud-value"><%= link_to animal.farm.name, animal.farm %></span>
              </div>
            </div>
            <div class="profile-ud-item">
              <div class="profile-ud wider">
                <span class="profile-ud-label">Race</span>
                <span class="profile-ud-value"><%= animal.race %></span>
              </div>
            </div>
            <div class="profile-ud-item">
              <div class="profile-ud wider">
                <span class="profile-ud-label">Encoded Race</span>
                <span class="profile-ud-value"><%= animal.encoded_race %></span>
              </div>
            </div>
            <div class="profile-ud-item">
              <div class="profile-ud wider">
                <span class="profile-ud-label">Genre</span>
                <span class="profile-ud-value"><%= animal.gender %></span>
              </div>
            </div>
            <div class="profile-ud-item">
              <div class="profile-ud wider">
                <span class="profile-ud-label">Poids</span>
                <span class="profile-ud-value"><%= animal.weight %> kg</span>
              </div>
            </div>
            <div class="profile-ud-item">
              <div class="profile-ud wider">
                <span class="profile-ud-label">Date de création</span>
                <span class="profile-ud-value"><%= animal.created_at %></span>
              </div>
            </div>
            <div class="profile-ud-item">
              <div class="profile-ud wider">
                <span class="profile-ud-label">Date d'actualisation</span>
                <span class="profile-ud-value"><%= animal.updated_at %></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

