<%= content_for :title, 'Tous les animaux' %>

<%= render :layout => 'components/header', locals: {title: 'Tous les animaux'} do %>
  <%= header_link_tag new_animal_path, 'Nouveau', 'plus' %>
<% end %>

<% if @animals.blank? %>
  <%= render :partial => 'components/empty_state' %>
<% else %>
  <div class="card card-preview">
    <table class="table table-tranx">
      <thead>
      <tr class="tb-tnx-head">
        <th>#</th>
        <th>Image</th>
        <th>Nom</th>
        <th>Race</th>
        <th>Poids</th>
        <th>Naissance</th>
        <th>Ferme</th>
        <th class="tb-tnx-action">
          <span>&nbsp;</span>
        </th>
      </tr>
      </thead>
      <tbody>
      <% @animals.each do |animal| %>
        <tr class="tb-tnx-item">
          <td><%= link_to animal.id, animal %></td>
          <td><%= image_tag animal.picture.variant(:thumb), width: 100, height: 100 %></td>
          <td><%= animal.name %></td>
          <td><%= animal.race %></td>
          <td><%= animal.weight %></td>
          <td><%= animal.birth_at %></td>
          <td><%= link_to animal.farm.name, animal.farm %></td>
          <td class="tb-tnx-action">
            <%= link_to icon_tag("eye"), animal, class: 'text-soft btn btn-icon btn-trigger' %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
<% end %>
