<%= content_for :title, "Animal #{@animal.name}" %>

<%= render :layout => 'components/header', locals: {title: "Animal ##{@animal.id}"} do %>
  <%= header_link_tag new_diagnostic_path, 'Diagnostiquer', 'notify'  %>
  <%= header_link_tag edit_animal_path(@animal), 'Modifier', 'edit'  %>
  <li class='nk-block-tools-opt'>
    <%= link_to animal_path(@animal), class: 'btn btn-danger', data: {turbo_method: :delete, turbo_confirm: 'êtes vous sûre ?'} do %>
      <%= icon_tag 'trash' %>
      <span>Supprimer</span>
    <% end %>
  </li>
<% end %>

<%= render @animal %>

<div class="nk-block-head mt-4">
  <h5 class="title">Diagnostiques récents</h5>
</div>
<div class="card ">
  <div class="card-content">
    <% if @diagnostics.empty? %>
      <%= render :partial => 'components/empty_state' %>
    <% else %>
      <%= render partial: 'diagnostics/diagnostics', locals: {diagnostics: @diagnostics} %>
    <% end %>
  </div>
</div>
